* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

.container {
  max-width: 1220px;
  margin: auto;
  padding: 17px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav > ul > li {
  display: inline-block; 
  margin-right: 34px; 
}

nav > ul > li > a {
  color: #B8BECD;
  text-decoration: none;
  font-family: Inter, sans-serif;

}
nav > ul > li > a:hover {
  color: black;
  transition: 1s;
}

nav {
  display: flex;
  align-items: center;
}


.menu_btn > button:last-of-type {
  margin-left: 18px;
}

.menu_btn > button {
  width: 132px;
  height: 44px;
  border: 1px solid #FB8F1D;
  border-radius: 8px;
  color: #FB8F1D;
  background: none;
}

.menu_btn > button:hover {
  color: #ffffff;
  background: #FB8F1D;
  cursor: pointer;
  box-sizing: border-box;
}

.main_container_form {
  display: flex;
  flex-direction: column;
}

.main_container_wrapper {
  max-width: 1220px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.form {
  margin: 28px 0 0 0;
}

.main_container_img {
  display: flex;
  margin: 28px 0 0 0;
}

.title {
  font-family: Playfair Display, sans-serif;
font-weight: bold;
font-size: 48px;
line-height: 70px;
color: #000000;
max-width: 247px;
height: 140px;
margin: 0 0 15px 0;
}

.form_btn {
background-color: #1ABE84;
width: 158px;
height: 59px;
border-radius: 20px;
border: none;
font-family: Playfair Display, sans-serif;
font-size: 20px;
line-height: 20px;
color: #FFFFFF;
cursor: pointer;
}

.form_btn:hover {
  transition: 300ms;
  background: none;
  color: #1ABE84;
  border: 1px solid #1ABE84;
}
.input {
width: 412px;
height: 59px;
left: 190px;
top: 336px;
border: 1px solid #000000;
box-sizing: border-box;
border-radius: 20px;
margin: 0 0 25px 0;
padding: 0 0 0 20px;
box-sizing: border-box;
}

.input:focus {
 outline: none;
}

.input::placeholder, .input {
  font-family: Playfair Display, sans-serif;
  font-weight: bold;
font-size: 20px;
line-height: 20px;
color: #000000;
}

.line {
  width: 95px;
  height: 5px;
  background: #0F0B0B;
  border-radius: 5px;
  margin: 0 0 50px 0;
}

.main_container_block {
  position: relative;
   display: flex;
 justify-content: flex-end;
 margin: 0 0 0 55px;
}

.block_txt {
  position: absolute;
  padding: 20px 14px;
  left: 0;
  bottom: 0;
  background: #FFFFFF;
  font-family: Playfair Display, sans-serif;
  font-weight: bold;
font-size: 20px;
line-height: 20px;
color: #000000;
border-radius: 0px 10px;
}

